# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
.Python
dist/
build/
env/
venv/
ENV/
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Dados e Modelos Pesados (Nunca subir para o GitHub)
datasets/
data/
models/*.pt
models/*.onnx
outputs/
results/

# Testes e Cache
.pytest_cache/
.ruff_cache/

# IDE
.vscode/
.idea/