# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# Dados e Modelos Pesados (Nunca subir para o GitHub)
datasets/
data/
models/*.pt
models/*.onnx
outputs/
results/
test_image/

# IDE
.vscode/
.idea/